.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0; /* fundo cinza claro da tela */
}

.app-container {
  background-color: gold; /* fundo dourado */
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center; /* centraliza o conteúdo */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.question-container {

  padding: 20px;
  border-radius: 10px;
  width: 90%; /* ocupar toda a largura disponível */
  margin-top: 5px; /* espaçamento superior */
}

.title {
  text-align: center;
  color: #333; /* cor do título */
  margin-bottom: 20px;
}
